.about{
    color: black;
    padding: 3em 5% 1.5em;
    &__description{
        &__title{
            font-family: 'Poppins';
            font-weight: 500;
            line-height: 1.4em;
            font-size: 2.2rem;
            margin-bottom: .5em;
        }

        &__info{
            font-family: 'Esteban';
            font-weight: 400;
            line-height: 1.8em;
            font-size: 1.1rem;
            margin-bottom: 2.5em;
        }
    }

    &__data{
        display: flex;
        justify-content: space-between;
        font-family: 'Esteban';
        font-weight: 400;
        line-height: 1.8em;
        font-size: 1.1rem;
        margin-bottom: 3.5em;

        &__element{
            width: fit-content;
            &__text{
                font-weight: bold;
                &-slim{
                    font-size: .8em;
                }
            }
        }
    }
    &__products{
        margin-top: 1.5em;
        &__title{
            font-family: 'Poppins';
            font-weight: 500;
            line-height: 1.4em;
            font-size: 2.2rem;
            margin-bottom: .5em;
        }

        &__list{
            margin-left: 10%;
            font-family: 'Esteban';
            font-weight: 400;
            line-height: 1.8em;
            font-size: 1.1rem;
            margin-bottom: 2.5em;

            &__element{
                &__sublist{
                    margin-left: 15%;
                    font-size: .9rem;
                }
            }
        }
    }
}