.details{
    &__slider {
        position: relative;
        width: 90%;
        min-width: 245px;
        overflow: hidden;
        margin: 3em auto 1.5em;

        &__image{
            display: none;
            width: 100%;
        }

        img{
            width: 100%;
            height: auto;
        }

        .fi{
            position: absolute;
            z-index: 10;
            margin: 0;

            &__prev{
                left: 2%;
                top: 50%;
                transform: rotate(180deg);
            }

            &__next{
                right: 2%;
                top: 50%;
            }
        }
    }

    &__info{
        padding: .5em;
        width: fit-content;
        color: black;
        width: 90%;
        margin: 0 5% 1em;
        &__title{
            font-family: 'Poppins';
            font-weight: 500;
            line-height: 1.4em;
            font-size: 1.1rem;
        }
        &__price{
            font-family: 'Esteban';
            font-weight: bold;
            line-height: 1.8em;
            font-size: 1.5rem;
        }
    }

    &__shop{
        padding: 1em 2em;
        background-color: #F1A638;
        border: none;
        width: 40%;

        font-family: 'Poppins';
        font-weight: 500;
        font-size: .8rem;
        margin-bottom: 1.5em;
        margin-left: 55%;
    }

    &__accordions{
        width: 90%;
        margin: 1.5em 5%;
        &__button{
            background-color: black;
            color: white;
            cursor: pointer;
            padding: 18px;
            width: 100%;
            text-align: left;
            border: none;
            outline: none;
            transition: 0.4s;

            &:hover{
                opacity: .8;
            }
        }
        &__info{
            padding: 0 18px;
            color: black;
            display: none;
            overflow: hidden;
        }
    }
}