.main{
    &__presentation{
        width: 100%;
        margin-bottom: -1em;
        &__image{
            width: 100%;
            height: auto;
            position: relative;
        }

        &__title{
            text-align: center;
            width: 80%;
            margin: 0 10%;
            position: absolute;
            top: 2em;
            font-family: 'Poppins';
            font-weight: 500;
            line-height: 1.4em;
            font-size: 2.5rem;
        }

        &__description{
            text-align: center;
            width: 80%;
            margin: 0 10%;
            position: absolute;
            top: 15em;
            font-family: 'Esteban';
            font-weight: 400;
            line-height: 1.8em;
            font-size: 1.5rem;
        }
    }

    &__products{
        background-color: black;
        padding: 3em 10%;

        &__title{
            font-family: 'Poppins';
            font-weight: 500;
            line-height: 1.4em;
            font-size: 2.5rem;
            text-align: center;
            margin-bottom: .5em;
            grid-column: span 2;
        }

        &__elements{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            &__element{
                width: 256px;
                margin-bottom: 1em;
                cursor: pointer;
                &__image{
                    width: 100%;
                    height: auto;
                }
    
                &__title{
                    font-family: 'Poppins';
                    font-weight: 500;
                    line-height: 1.4em;
                    font-size: 1.6rem;
                    text-align: center;
                }
    
                &__description{
                    font-family: 'Esteban';
                    font-weight: 400;
                    font-size: 1.1rem;
                    text-align: center;
                }
            }
        }

        &__button{
            width: 100%;
            margin-top: 1em;
            padding: 1em 2em;
            background-color: #F1A638;
            border: none;

            font-family: 'Poppins';
            font-weight: 500;
            font-size: .8rem;
        }
    }

    &__about{
        padding: 10%;
        &__text{
            font-family: 'Esteban';
            font-weight: bold;
            line-height: 1.8em;
            font-size: 1rem;
            text-align: center;
            color: black;
            margin-bottom: 1em;

            &--big{
                font-family: 'Esteban';
                font-weight: 400;
                line-height: 1.8em;
                font-size: 1.1rem;
                text-align: center;
                color: black;
            }
        }
    }

    &__phrase{
        width: 100%;
        position: relative;
        &__image{
            width: 100%;
            height: auto;
            opacity: .5;
        }

        &__text{
            position: absolute;
            top: 1.5em;
            font-family: 'Poppins';
            font-weight: 500;
            line-height: 1.4em;
            font-size: 1.5rem;
            width: 90%;
            margin: 0 5%;
            text-align: center;
            color: black;
        }

        &__author{
            position: absolute;
            bottom: 1em;
            width: 100%;
            font-family: 'Esteban';
            font-weight: bold;
            line-height: 1.8em;
            font-size: 1rem;
            text-align: center;
            color: black;
        }
    }
}


@media only screen and (min-width: 1000px){
    .main{
        &__presentation{
            height: 100vh;
            overflow: hidden;
            &__title{
                top: 50%;
            }
    
            &__description{
                top: 60%;
            }
        }
       
        &__products{
            &__title{
                font-size: 4rem;
            }
            &__elements{
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                gap: 2em;
                &__element{
                    width: 100%;
                }
            }

            &__button{
                grid-column: span 3;
                width: 30%;
                margin: 0 35%;
                font-size: 1.1rem;
            }
        }

        &__about{
            padding: 5em 15%;
        }

        &__phrase{
            height: 20em;
            overflow: hidden;
            &__text{
                top: 45%;
            }
    
            &__author{
                top: 55%;
            }
        }
    }
}