.products{
    &__intro{
        padding: 1em 5% 3em;
        background-color: black;
        width: 100%;
        &__title{
            font-family: 'Poppins';
            font-weight: 500;
            line-height: 1.4em;
            font-size: 2.5rem;
        }
        &__text{
            font-family: 'Esteban';
            font-weight: 400;
            line-height: 1.8em;
            font-size: 1.1rem;
        }
    }

    &__elements{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        margin: 2em 5% 2em;

        &__element{
            overflow: hidden;
            background-color: #f5f5f5;
            color: black;

            &__image{
                width: 100%;
                height: auto;
            }

            &__info{
                font-family: 'Esteban';
                font-weight: bold;
                line-height: 1.8em;
                font-size: 1.1rem;
                margin: .5em;
            }
            &__price{
                font-family: 'Esteban';
                font-weight: 400;
                line-height: 1.8em;
                font-size: 1.1rem;
                margin: .5em;
            }
        }
    }
}