@import url("https://fonts.googleapis.com/css2?family=Esteban&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 320px;
  color: white;
}

.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
}
.header__title {
  color: black;
  font-family: "Poppins";
  font-weight: bolder;
  font-size: 1rem;
  margin-top: 0;
}
.header__menu {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: black;
  width: 100%;
  position: absolute;
  left: 0;
  z-index: 100;
  top: 3em;
  height: calc(100vh - 3em);
}
.header__menu__element {
  font-family: "Esteban";
  font-weight: 400;
  line-height: 1.8em;
  font-size: 1.5rem;
}

.main__presentation {
  width: 100%;
  margin-bottom: -1em;
}
.main__presentation__image {
  width: 100%;
  height: auto;
  position: relative;
}
.main__presentation__title {
  text-align: center;
  width: 80%;
  margin: 0 10%;
  position: absolute;
  top: 2em;
  font-family: "Poppins";
  font-weight: 500;
  line-height: 1.4em;
  font-size: 2.5rem;
}
.main__presentation__description {
  text-align: center;
  width: 80%;
  margin: 0 10%;
  position: absolute;
  top: 80%;
  font-family: "Esteban";
  font-weight: 400;
  line-height: 1.8em;
  font-size: 1.1rem;
}
.main__products {
  background-color: black;
  padding: 3em 10%;
}
.main__products__title {
  font-family: "Poppins";
  font-weight: 500;
  line-height: 1.4em;
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 0.5em;
  grid-column: span 2;
}
.main__products__elements {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.main__products__elements__element {
  width: 256px;
  margin-bottom: 1em;
  cursor: pointer;
}
.main__products__elements__element__image {
  width: 100%;
  height: auto;
}
.main__products__elements__element__title {
  font-family: "Poppins";
  font-weight: 500;
  line-height: 1.4em;
  font-size: 1.6rem;
  text-align: center;
}
.main__products__elements__element__description {
  font-family: "Esteban";
  font-weight: 400;
  font-size: 1.1rem;
  text-align: center;
}
.main__products__button {
  grid-column: span 2;
  width: 100%;
  margin-top: 1em;
  padding: 1em 2em;
  background-color: #F1A638;
  border: none;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 0.8rem;
}
.main__about {
  padding: 10%;
}
.main__about__text {
  font-family: "Esteban";
  font-weight: bold;
  line-height: 1.8em;
  font-size: 1rem;
  text-align: center;
  color: black;
  margin-bottom: 1em;
}
.main__about__text--big {
  font-family: "Esteban";
  font-weight: 400;
  line-height: 1.8em;
  font-size: 1.1rem;
  text-align: center;
  color: black;
}
.main__phrase {
  width: 100%;
  position: relative;
}
.main__phrase__image {
  width: 100%;
  height: auto;
  opacity: 0.5;
}
.main__phrase__text {
  position: absolute;
  top: 1.5em;
  font-family: "Poppins";
  font-weight: 500;
  line-height: 1.4em;
  font-size: 1.5rem;
  width: 90%;
  margin: 0 5%;
  text-align: center;
  color: black;
}
.main__phrase__author {
  position: absolute;
  bottom: 1em;
  width: 100%;
  font-family: "Esteban";
  font-weight: bold;
  line-height: 1.8em;
  font-size: 1rem;
  text-align: center;
  color: black;
}

.footer {
  margin-top: -0.3em;
  padding: 2em 0.5em;
  display: flex;
  flex-direction: column;
  background-color: black;
}
.footer__data {
  text-align: center;
}
.footer__data__title {
  font-family: "Poppins";
  font-weight: 500;
  line-height: 1.4em;
  font-size: 3rem;
}
.footer__data__element {
  font-family: "Esteban";
  font-weight: 400;
  line-height: 1.8em;
  font-size: 1.3rem;
}
.footer__open {
  margin-top: 1em;
  display: flex;
  justify-content: space-around;
}
.footer__open__text {
  font-family: "Poppins";
  font-weight: 500;
  line-height: 1.4em;
  font-size: 1.5rem;
}
.footer__open__schedule {
  font-family: "Esteban";
  font-weight: 400;
  line-height: 1.8em;
  font-size: 1rem;
}
.footer__social {
  margin-top: 1em;
  margin-bottom: 2em;
  display: flex;
  justify-content: space-around;
}
.footer__social__icon {
  width: 25px;
  height: auto;
}

/*# sourceMappingURL=style.css.map */
